//--------------------//
//--- Company Grid ---//
//--------------------//
.company-grid {
  display: flex;
  flex-wrap: wrap;

  @include media-breakpoint-up(md) {
    margin-left: -25px;
    margin-right: -25px;
  }
}
.company-grid__item {
  margin-bottom: 50px;

  @include media-breakpoint-up(md) {
    padding: 0 25px;
    width: 50%;
  }

  @include media-breakpoint-up(xl) {
    width: 33.33%;
  }
}


//-------------//
//--- Actor ---//
//-------------//
.actor {
  background-color: $dark;
  box-shadow: 3px 0 40px rgba(0,0,0, 1);
  height: 100%;
  border: 2px solid $dark;
  display: flex;
  flex-direction: column;
}
.actor__header {
  position: relative;
}
.actor__image {

}
.actor__body {
  padding: 2rem 2.25rem 1.5rem 2rem;
  text-align: center;
}
.actor__character {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
.actor__name {
  font-size: $font-size-lg;
  font-style: italic;
  font-weight: $font-weight-base;
}
.actor__description {
  margin-bottom: 0;
  font-size: $font-size-sm;
}
.actor__footer {
  padding: .5rem 2rem 2rem 2rem;
  margin-top: auto;
}
.actor__social {
  @extend .social-icons;
}
