//-------------------//
//--- Page Header ---//
//-------------------//
.page-header {
  padding: 0;
  position: relative;
}
.page-header__rectangle {
  display: block;
  height: 370px;
  width: 30%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $primary;
  z-index: -1;

  @include media-breakpoint-up(md) {
    height: 400px;
  }
}
.page-title {
  font-size: 4rem;
  margin-bottom: 8rem;
  padding-top: 10rem;
  max-width: 600px;

  @include media-breakpoint-up(md) {
    font-size: 6rem;
    margin-left: 10%;
    padding-top: 7rem;
  }
}
.page-description {
  max-width: 800px;
  margin: 0 auto;
  font-size: $font-size-base;
  text-align: center;
}
