@use "sass:color";

// Colors
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #111;

$primary: #1600ff;
$secondary: $gray-600;
$light: $gray-100;
$dark: #16191c;

// Social Media Colors
$twitter-blue: #1da1f2;
$facebook-blue: #4267b2;
$linkedin-blue: #0073b1;
$whatsapp-green: #25D366;
$youtube-red: #f00;
$instagram-fucsia: #ed3185;

// Body
$body-bg: $black;
$body-color: $white;

// Wrapper
$wrapper: 5rem;
$wrapper-sm: $wrapper * .5;

// Border radius
$border-radius: .4rem;

// Typo
$font-family-serif: 'Playfair Display', serif;
$font-family-sans-serif: 'Raleway', sans-serif;
$font-family-base: $font-family-sans-serif;
$font-size-base: 1.1rem;
$font-size-sm: $font-size-base * .9;
$font-size-lg: $font-size-base * 1.1;
$font-weight-base: 400;
$font-weight-bold: 700;
$line-height-base: 1.6;

// Links
$link-decoration: none;

// Headings
$headings-margin-bottom: 1.5rem;
$headings-font-weight: $font-weight-bold;
$headings-font-family: $font-family-serif;

// Box Shadow
$box-shadow: 0 .5rem 1rem rgba($black, .15);
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075);
$box-shadow-lg: 0 1rem 3rem rgba($black, .175);

// Card
$card-bg: $dark;
$card-border-width: 0;
$card-color: $light;

// Buttons
$btn-border-radius: 0;
$input-btn-padding-x: 2rem;
$input-btn-padding-y: 1rem;